/*--DESKTOP RESPONSIVE--*/

@media screen and (min-width: 600px) {
    .functioning {
     width: 100%;
    }

    .function {
    width: 100%;
    display: flex;
     align-items: center;
    }

    .functioning h2 {      
    display: flex;
    justify-content: center;
    margin-right: 300px;
    }

 }

@media screen and (min-width: 1100px) {

.header_container {
    height: 240px;
}

.logo {
    object-fit: contain;
}

header h1 {
    font-size: 40px;
}

    /*--FUNCTION SECTION--*/

.functioning {
    height: 200px;
    margin-left: 0;
}

.functioning h2 {
    margin-left: 10%;
    display: block;
}

.function {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
    width: 80%;
}

/*--MAIN RESRAUTANTS--*/

.section_restaurants {
    height: 700px;
}

.section_restaurants h2 {
    margin-left: 10%;
}

.direction_restaurants {
    margin-left: 9%;
    margin-right: 9%;
}

.card_restaurant {
    height: 270px;
    width: 100%;
}

.position {
    display: flex;
    gap: 10%;
    width: 100%;
}

/*--FOOTER--*/

footer {
    position: relative;
    margin-top: 0px;
    height: 115px;
}

.container_footer {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-right: 22%;
    margin-left: 29%;
}

.logo_footer {
    width: 137px;
    height: 27px;
    position: absolute;
    top: 60px;
    right: 7%;
}

}
