
/*--HEADER--*/

.restaurant_img {
    width: 100%;
    height: 275px;
    object-fit: cover;
}

header {
    position: relative;
}

/*-- MAIN --*/

/*-- TITLE --*/

.main_container {
    background: #F6F6F6;
    border-radius: 25px 25px;
    height: fit-content;
    padding-bottom: 30px;
    bottom: 60px;
    position: relative;
    width: 100%;
}

.main_title {
    display: flex;
    position: relative;
    margin-left: 20px;
}

.main_title h1 {
    font-size: 28px;
    font-family: Shrikhand;
    padding-top: 10px;
    width: 80%;
}


.heart {
    position: absolute;
    right: 10%;
    top: 35px;
    font-size: 25px;
}
    
.heart_anim:hover {
    opacity: 1;
    transform: scale(1.2);
    background: linear-gradient(#FF79DA, #9356DC);
    -webkit-background-clip: text;
}

.heart_anim {
    position: absolute;
    right: 10%;
    top: 35px;
    color: transparent;
    font-size: 25px;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}

/*-- CONTAIN MAIN --*/

.animated_section {
    margin-top: -20px;
    opacity: 0;
    transform: translateY(20px);
    animation: appear 2s forwards;
  }
  
  @keyframes appear {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animated_section:nth-of-type(1) {
    animation-delay: 0.2s;
  }
  
  .animated_section:nth-of-type(2) {
    animation-delay: 0.4s;
  }
  
  .animated_section:nth-of-type(3) {
    animation-delay: 0.6s;
  }

 h2 {
    font-size: 16px;
    margin-top: 50px;
    margin-left: 12px;
    font-weight: lighter;
    font-family: 'Roboto';
    position: relative;
}

section h3 {
    font-size: 18px;
    font-weight: lighter;
    font-family: 'Roboto';
}

h2::before {
    content: "";
    border: #99E2D0 solid 2px;
    bottom: -4px;
    width: 35px;
    position: absolute;
}

section p {
    font-size: 14px;
    font-weight: lighter;
    font-family: 'Roboto';
}

.menu_card {
    width: 95%;
    height: 68px;
    padding: 2px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    line-height: 8px;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}

.element_txt {
    display: flex;
    flex-direction: column;
}

.element_txt p {
    position: relative;
    bottom: 13px;
    padding: 2px;
}

.menu_card:hover p {
    width: 170px;
    height: 20px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.menu_txt {
    margin-left: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card_direction {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadein 2s;
    -webkit-animation: fadein 2s;
    -o-animation: fadein 2s;
}

.price {
    position: absolute;
    right: 20px;
    top: 42px;
    color: #353535;
    font-weight: bold;
    font-family: 'Roboto';
}

.menu_card:hover .price {
    transform: translateX(-50px);
    transition: all 0.5s;
}


.checkmark {
    margin-bottom: -18px;
    color: #99E2D0;
    background: #99E2D0;
    box-shadow: 1px 1px 2px 2px; color: #99E2D0;
    border-radius: 0 20px 20px 0;
    width: 59px;
    height: 70px;
    transition: all 0.5s;
    transform: translateX(59px);
}

.menu_card:hover .checkmark {
    transform: translateX(0);
}

.checkmark:hover {
    margin-right: 0;
}

.checkmark i {
    margin-top: 22px;
    margin-left: 15px;
    padding: 2px;
    border-radius: 50%;
    background: #FFFFFF
}

.command {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.button_command {
    font-family: 'Roboto';
    height: 50px;
    width: 186px;
    padding: 20px;
    margin: 20px 0px;
    border-color: #9356DC;
	border-radius: 25px;
	box-sizing: border-box;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
    color: #FFFFFF;
    background: linear-gradient(#FF79DA, #9356DC);
    opacity: 1;
    box-shadow: 1px 1px 2px 2px #d9d9d9;
    transition: all 200ms ease-in-out;
}

.button_command:hover { 
    opacity: 0.8;
    box-shadow: 2px 2px 5px 5px #d9d9d9;
}
