* {   
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto';
}

body {
    margin: auto;
    min-width: 300px;
    background-color: #FFFFFF;
}


/*--NAV--*/

.logo_direction {
    display: flex;
    justify-content: center;
}

.logo {  
    height: 44px;
    width: 162px;
    padding-top: 15px;
    padding-bottom: 5px;
}

/*--FOOTER--*/

footer {
    background: #353535;
    height: 250px;
    padding-top: 40px;
}

.logo_footer {
    width: 110px;
    filter: invert(100%);
}

.container_footer {
    color: #FFFFFF;
    margin-left: 25px;
}

.container_footer p {
    font-size: 16px;
    font-weight: lighter;
}

.container_footer i {
    padding-right: 10px;
    font-size: small;
}