* {   
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto';
}

body {
    margin: auto;
    min-width: 300px;
    background-color: #FFFFFF;
}

.loader {
    border: 10px solid #EAEAEA;
    border-top: 10px solid #9356DC;
    border-bottom: 10px solid #9356DC;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: auto;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
    position: fixed;
    margin-top: 200px;
    background-color: #FFFFFF;
}

.loader_container {
    opacity: 0.4;
    display: flex;
    justify-content: center;
    animation: hide-loader 3s linear forwards;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: rotate(360deg);
        opacity: 0.2;
    }
}

@keyframes hide-loader {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

/*--NAV--*/

.logo_direction {
    display: flex;
    justify-content: center;
}

.logo {  
    height: 44px;
    width: 162px;
    padding-top: 15px;
    padding-bottom: 5px;
}

/*--HEADER--*/

#research {
    display: flex;
    height: 50px;
}

#research_input {
    text-align: center;
    background: #EAEAEA;
    width: 100%;
    border: 0;
}

.icon {
    position: absolute;
    margin-left: 27%;
    margin-top: 15px
}

.header_container {
    background-color:#f7f7f7;
    height: 270px;
    padding: 20px; 
}

header h1 {
    font-size: 24px;
    text-align: center;
}

header p {
    font-size: 18px;
    text-align: center;
    color: #353535;
    font-weight: 100;
}

.button_research {
    height: 50px;
    padding: 20px;
    margin: 20px 0px;
    border-color: #9356DC;
	border-radius: 25px;
	box-sizing: border-box;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
    color: #FFFFFF;
    background: linear-gradient(#FF79DA, #9356DC);
    opacity: 1;
    box-shadow: 1px 1px 2px 2px #d9d9d9;
}

.button_research:hover {
    transition: all 200ms ease-in-out;
    opacity: 0.8;
    box-shadow: 2px 2px 5px 5px #d9d9d9;
}

input:focus {
    outline: none;
}

.research_position {
    display: flex;
    justify-content: center;
}

/*--MAIN SECTION--*/

.functioning {
    margin-top: 50px;
    height: 370px;
}

.functioning h2 {
    margin-left: 15px;
    font-weight: 700;
}

.function {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 22px;
    padding-left: 22px;
    gap: 20px;
    margin-top: 30px;
}

.function_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    height: 72px; 
    width: 100%;
    border: 2px solid #F6F6F6;
    border-radius: 30px;
    transition-duration: 0.1s;
    cursor: pointer;
    font-weight: bold;  
    font-size: 16px;
    font-weight: 500;
}

.function_box:hover {
    background-color: #F5EDFF;
}

.function_box:hover i {
    color: #9356DC;
}

.function_box i {
    color: #7E7E7E;
    font-size: large;
}

.function_box p {
    padding-right: 20%;
}

.number {
    color: #FFFFFF;
    border-radius: 50%;
    width: 9px;
    font-weight: bold;
    border: 2px solid #9356DC;
    background-color: #9356DC;
    padding: 0.2rem 0.5rem;
    font-size: 14px;
    margin-left: -10px;
    position: relative;
}

/*--SECTION RESTAURANTS--*/

section h2 {
    margin-left: 15px;
    font-weight: 700;
}

.section_restaurants {
    background-color: #f7f7f7;
    height: 1300px;
    padding-top: 40px;
}

.direction_restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 3px;
}

.card_restaurant {
    width: 100%;
    height: 260px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px #D6DBDF;
    line-height: 8px;
    margin-top: 20px;    
    position: relative;  
}

.section_restaurants img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.new {
    color: #008766;
    border: 1px solid #99E2D0;
    background-color: #99E2D0;
    border-radius: 2px;
    padding: 10px;
    position: absolute;
    right: 30px;
    margin-top: 15px;
}

.txt_restaurant {
    display: block;
    font-size: 14px;
    margin-left: 15px;
    color: black;
}

.section_restaurants i {
   position: absolute;
   right: 40px;
   top: 235px;
   font-size: 25px;
   transform: translateY(-50%);
   transition: all 200ms ease-in-out;
   cursor: pointer;
}
 
.section_restaurants i:hover {
    opacity: 1;
    transform: translateY(-50%) scale(1.2);
    background: linear-gradient(#FF79DA, #9356DC);
    color: transparent;
    background-clip: text;
}

.heart_anim {
    color: transparent;
    right: 40px;
}

/*--FOOTER--*/

footer {
    background: #353535;
    height: 200px;
    padding-top: 20px;
}

.logo_footer {
    width: 110px;
    filter: invert(100%);
    margin-left: 20px;
}

.container_footer {
    color: #FFFFFF;
    margin-left: 25px;
}

.container_footer p {
    font-size: 16px;
    font-weight: lighter;
}

.container_footer a {
    color: #FFFFFF;
}

.container_footer i {
    padding-right: 10px;
    font-size: small;
}

